.idea/scopes/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/.name
.idea/*.xml
!.idea/vcs.xml
!.idea/uiDesigner.xml
/classes
/dist
/libs
/out
/SDK/*SDK
/target
/*.bat
*.class
out
build
.DS_Store
*~
target/

testdata/debugger
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
